
@inject ILogger<Index> _logger
@inject IServerApi _serverApi
@inject AutoMapService autoMap
@inject IJSRuntime jsRuntime

<h1>
    所有服务节点
    <ModalDialogButton classBtn="btn btn-primary" DialogId="pModalDialogAddId" ButtonContent="新增" OnClickCallback="onAdd">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
    </ModalDialogButton>
</h1>

<p>监控客户端登陆后获取所有的被监控的服务器节点</p>
<PNotifier @ref="pNotifier" />

@if (serviceNodeInfos == null)
{
    <p><em>加载中，请稍后...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                @*<th>服务标识</th>*@
                <th>服务id</th>
                <th>服务类型</th>
                <th>服务ip</th>
                <th>端口</th>
                <th>描述</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in serviceNodeInfos)
            {
                <ServiceNodeInfoTR @key="item.identity" curr="item" dialogId="pModalDialogEditId" pNotifier="pNotifier" pModalDialog="pModalDialogEdit" parentTop="this" />

            }
        </tbody>
    </table>
}
<ServiceNodeInfoDialog @ref="pModalDialogAdd" curr="currAdd" DialogId="pModalDialogAddId" OnClickCallback="DialogAddBtn" />
<ServiceNodeInfoDialog @ref="pModalDialogEdit" curr="currItem" DialogId="pModalDialogEditId" OnClickCallback="DialogOnClickBtn" />

@code {
    [Parameter]
    public PNotifier pNotifier { get; set; }
    [Parameter]
    public toDoEnum currTodo { get; set; } = toDoEnum.none;
    [Parameter]
    public ServiceNodeInfo currItem { get; set; } = new ServiceNodeInfo();
    [Parameter]
    public ServiceNodeInfo currAdd { get; set; } = new ServiceNodeInfo();
    [Parameter]
    public ServiceNodeInfoDialog pModalDialogEdit { get; set; }
    [Parameter]
    public ServiceNodeInfoDialog pModalDialogAdd { get; set; }

    [Parameter]
    public List<ServiceNodeInfo> serviceNodeInfos { get; set; }
    /// <summary>
    /// 属性对应Description
    /// </summary>
    private Dictionary<string, string> serviceNodeInfoDic { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
        serviceNodeInfoDic = currAdd.GetDescriptionAll();
    }
    public async Task LoadData()
    {
        var getResult = await _serverApi.TE_ALL_SVR_QRY(new RequestBase() { reqid = ServerEnum.TE_ALL_SVR_QRY });
        serviceNodeInfos = getResult.databody;
    }
    public async Task<ResponseObject<ServiceNodeInfo>> Add(ServiceNodeInfo curr)
    {
        var getResult = await _serverApi.TE_SVR_ADD(new RequestObject<ServiceNodeInfo>() { reqid = ServerEnum.TE_SVR_ADD, databody = curr });

        return getResult;
    }
    public void Change(ServiceNodeInfo curr, toDoEnum toDoEnum)
    {
        var findcurr = serviceNodeInfos.Where(a => a.identity == curr.identity).FirstOrDefault();
        currItem = curr;
        this.currTodo = toDoEnum;
        StateHasChanged();
    }
    public void onAdd(MouseEventArgs e)
    {
        pModalDialogAdd.pModalDialog.ChangeDilog("新增", "新增");
        pModalDialogAdd.pNotifier.toHide();
    }

    private async Task DialogAddBtn(MouseEventArgs e)
    {
        var newCurr = autoMap.GetDest<ServiceNodeInfo, ServiceNodeInfo>(currAdd);
        newCurr.identity = Guid.NewGuid().ToString();
        var result = await Add(currAdd);
        if (result.errcode == 0)
        {
            await LoadData();
            StateHasChanged();
        }
        if (result.errcode != 0)
        {
            var dicErr = new List<ErrorInfo>();

            if (result.errbody is JArray)
            {
                JArray dd = result.errbody as JArray;
                dicErr=dd.ToObject<List<ErrorInfo>>(); 
            }

            await pModalDialogAdd.pNotifier.OnNotify($"新增失败：{result.errinfo},{dicErr.GetKeyDescFrom(serviceNodeInfoDic).toJsonStr()},Data：{newCurr.toJsonStr()}", 1, alertEnum.danger);
            return;
        }

        currAdd = new ServiceNodeInfo();
        await pNotifier.OnNotify($"新增成功：{newCurr.toJsonStr()}", 1, alertEnum.success);
        jsRuntime.modalJs("pModalDialogAddId", "hide");
    }
    private async Task DialogOnClickBtn(MouseEventArgs e)
    {
        var result = new ResponseObject<ServiceNodeInfo>();

        switch (currTodo)
        {
            case toDoEnum.edit:
                result = await _serverApi.TE_SVR_CFG_UPD(new RequestObject<ServiceNodeInfo>() { reqid = ServerEnum.TE_SVR_CFG_UPD, identity = currItem.identity, databody = currItem });
                break;
            case toDoEnum.del:
                result = await _serverApi.TE_SVR_OPER(new RequestBase() { reqid = ServerEnum.TE_SVR_OPER, cmd = SVR_OPER.SVR_OPER_DELETE, identity = currItem.identity });
                break;
            case toDoEnum.live:
                result = await _serverApi.TE_SVR_OPER(new RequestBase() { reqid = ServerEnum.TE_SVR_OPER, cmd = SVR_OPER.SVR_OPER_ACTIVE, identity = currItem.identity });
                break;
            case toDoEnum.stop:
                result = await _serverApi.TE_SVR_OPER(new RequestBase() { reqid = ServerEnum.TE_SVR_OPER, cmd = SVR_OPER.SVR_OPER_STOP, identity = currItem.identity });
                break;
            default:
                break;
        }
        if (result.errcode != 0)
        {
            var dicErr = new List<ErrorInfo>();

            if (result.errbody is JArray)
            {
                JArray dd = result.errbody as JArray;
                dicErr=dd.ToObject<List<ErrorInfo>>(); 
            }

            await pModalDialogEdit.pNotifier.OnNotify($"{currTodo.GetDescription()}失败：{result.errinfo},{dicErr.GetKeyDescFrom(serviceNodeInfoDic).toJsonStr()},Data：{currItem.toJsonStr()}", 1, alertEnum.danger);
            return;
        }

        await pNotifier.OnNotify($"{currTodo.GetDescription()}成功：{currItem.toJsonStr()}", 1, alertEnum.success);
        //更新
        await LoadData();
        StateHasChanged();
        //关闭当前
        jsRuntime.modalJs("pModalDialogEditId", "hide");
    }
}
